/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open=Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}
.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    background: #293447;
}
.game-details {
    color: #B8C6DC;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #212837;
}
.play-board .food {
    background: #FF003D;
}
.play-board .head {
    background: #60CBFF;
}
.controls { 
    display: none;
    align-items: center;
}
.controls i { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: #364463;
    width: 80px;
    height: 80px;
    background-color: rgb(107, 118, 156);  
    border-radius: 20px; 
    font-size: 2.5rem; /* Larger font size */ 
    cursor: pointer;
    }

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 140vmin; 
    }
    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls i {
        width: 50px;
        height: 50px; 
        font-size: 2rem;
    }
    .controls {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        column-gap: -100px;
        justify-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 100px;
    }
}
